h4 {
    border-bottom:1px solid #5279E7;
    border-left:5px solid #5279E7;
    font-size:100%;
    font-weight:bold;
    margin:0.6em 10% 0 0.4em;
    padding:0 0.5em 0.1em;
}

h5 {
    font-size:100%;
    margin:0.5em 0 0 0.7em;
}

p {
    padding-bottom:0.2%;
    padding-top:0.2%;
    margin-bottom:0.5%;
    margin-top:0.5%;
    text-indent:1em;
}

span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

pre {
    background-color:#E7EBFF;
    padding:8px;
}

.synComment {
    color:#0000C0;
}

.synSpecial {
    color:#C000C0;
}
.synType {
    color:#008000;
}
.synComment {
    color:#0000C0;
}

.synPreProc {
    color:#C000C0;
}

.synIdentifier {
    color:#008080;
}

.synConstant {
    color:#C00000;
}

.synStatement {
    color:#804000;
}
